* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", arial, sans-serif;
}

.go_top {
    height: 7rem;
    width: 7rem;
    background-color: #002BDC;
    float: right;
    overflow: hidden;
    margin-top: 10px;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%232620FF'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%232620FF'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(302 1000 750) scale(31.95) translate(-968.7 -726.53)'%3E%3Cg fill='%232620FF'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style: none;
}

p {
    color: #5a5a5a;
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

.primary-button a {
    display: inline-block;
    background-color: #002BDC;
    padding: 12px 18px;
    color: white;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.primary-button a:hover {
    background-color: #2F4BFF;
}

.white-button a {
    display: inline-block;
    background-color: #fff;
    padding: 12px 18px;
    color: #121212;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #121212;
    color: #fff;
}

.section-heading h4 {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #2F4BFF;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 60px;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.nav>li>a:hover::after {
    content: "";
    background-color: white;
    display: block;
    border-radius: 200px;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50px;
}

.navbar-brand {
    line-height: 80px;
    padding: 0px;
}

.navbar-nav>li>a {
    color: #fff !important;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: none;
    line-height: 80px;
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 0.5px;
}

.navbar-nav>li {
    margin-left: 45px;
}

.header.active .navbar-nav>li>a {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: none;
    color: black !important;
}

.header.active {
    background-color: #002BDC;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.navbar-brand .logo {
    margin-top: 0px;
    background-image: url(../img/logo1.png);
    background-size: contain;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.header.active .navbar-brand .logo {
    margin-top: 10px;
    background-image: url(../img/logo2.jpg);
    display: inline-block;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
}

#main-nav {
    background-color: transparent;
    background-image: none !important;
}

.header .navbar-brand {
    font-weight: 900;
}

.navbar-inverse {
    background-image: none;
    background-color: transparent;
}

.header .navbar {
    margin: 0;
    border: none;
}

.page-section {
    padding: 80px 0;
}

.navbar-inverse .navbar-toggle {
    margin-top: 15px;
    border-color: transparent;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

bootstrap.min.css.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}

@media (max-width: 768px) {
    .navbar-brand .logo {
        width: 80px;
        height: 90px;
    }
}

@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}


/* HERO SLIDER */

.slide-caption {
    color: #fff;
}

.slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
}

.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

.slide-caption p {
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

ul.cd-hero-slider {
    margin-bottom: 0px !important;
}


/* WHAT WE DO */

#about {
    background-color: rgba(47, 75, 255, 1);
    padding: 50px 0px;
}

#about .section-heading {
    margin-bottom: 60px;
}

.service-item {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    padding: 30px 20px;
    transition: all 0.7s;
    box-shadow: 0px 0px 7px #FFE37F;
}

.service-item:hover {
    background-color: #00A6E7;
}

.service-item h4 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.service-item:hover h4 {
    color: #fff;
}

.service-item:hover p {
    color: #fff;
}

.first-service .icon {
    background-image: url(../img/first-service-main.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}

.first-service:hover .icon {
    background-image: url(../img/first-service-white.png);
}

.second-service .icon {
    background-image: url(../img/second-service-main.png);
    height: 32px;
    width: 22px;
    display: inline-block;
}

.second-service:hover .icon {
    background-image: url(../img/second-service-white.png);
}

.third-service .icon {
    background-image: url(../img/third-service-main.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}

.third-service .icon {
    background-image: url(../img/third-service-main.png);
    height: 40px;
    width: 40px;
    display: inline-block;
}

.icon_img:hover .first-icon {
    display: none;
}

.icon_img .second-icon {
    display: none;
}

.icon_img:hover .second-icon {
    display: inline-block;
}

.third-service:hover .icon {
    background-image: url(../img/third-service-white.png);
}

.fourth-service .icon {
    background-image: url(../img/fourth-service-main.png);
    height: 32px;
    width: 32px;
    display: inline-block;
}

.fourth-service:hover .icon {
    background-image: url(../img/fourth-service-white.png);
}

.right-imageBox {
    height: 100%;
}

#what-we-do {
    background-image: url(../img/ufm\ wapaper.png);
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to top, transparent 2%, black 5%);
    -webkit-mask-image: linear-gradient(to top, transparent 2%, black 5%);
    width: 100%;
    color: #fff;
    padding: 0px 0px;
    padding-top: 70px;
}

#what-we-do .right-image img {
    margin-left: 15px;
    width: 100%;
    overflow: hidden;
}

#what-we-do h4 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 25px;
}

#what-we-do p {
    margin-bottom: 30px;
    color: #fff;
}

#what-we-do ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* PORTFOLIO */

#portfolio {
    text-align: center;
}

.projects-holder .mix {
    display: none;
}

.filter-categories {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

.filter-categories ul li {
    margin: 0px 10px 15px 10px;
    display: inline-block;
}

.filter-categories ul li span {
    cursor: pointer;
    color: #5a5a5a;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
}

.filter-categories ul li.active span {
    color: #002BDC;
}

.project-item {
    margin-top: 30px;
}

.project-item .thumb {
    position: relative;
    text-align: center;
    display: inline-block;
}

.project-item .thumb img {
    width: 100%;
    overflow: hidden;
}

.project-item .hover-effect {
    position: absolute;
    background-color: #2F4BFF;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.project-item .hover-effect i {
    text-align: center;
    margin-top: 35%;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #fff;
    line-height: 46px;
    color: #4ae;
    border-radius: 50%;
    font-size: 18px;
}

.project-item .hover-effect i:hover {
    background-color: #002BDC;
    color: #fff;
    transition: all 0.5s;
}

.project-item:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}

.top-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    z-index: 999;
    transition: .5s;
}

.top-btn:hover {
    background-color: #2F4BFF;
}

.container {
    width: 100%;
}

.box {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(231, 0%, 100%, 1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='1' stroke='hsla(241, 100%, 50%, 0.63)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-attachment: fixed;
}

.container .section {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease-in;
}

.container .section:nth-child(1) {
    background: url(../img/quote/quote1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container .section:nth-child(2) {
    background: url(../img/quote/quote3.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container .section:nth-child(3) {
    background: url(../img/quote/quote4.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container .section:nth-child(4) {
    background: url(../img/quote/quote5.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container .section:nth-child(5) {
    background: url(../img/quote/IMG-20211025-WA0001.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section:nth-child(1):hover {
    transform: scale(1.01);
}

.section:nth-child(2):hover {
    transform: scale(1.01);
}

.section:nth-child(3):hover {
    transform: scale(1.01);
}

.section:nth-child(4):hover {
    transform: scale(1.01);
}

.section:nth-child(5):hover {
    transform: scale(1.01);
}


/* -------------------card--------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.main>h4 {
    color: #000 !important;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(213, 207, 43, 0.2);
    border-radius: 20px;
    background: transparent;
}

.btn:hover {
    background-color: #2F4BFF;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #2F4BFF 40%, #00A6E7);
}

.card_title {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.card_content a {
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
}

.card_content a:hover {
    color: black;
    text-decoration: none;
}


/* width: 100%;
    cursor: pointer;
    border: 1px solid rgb border-radi #portfolio {
        text-align: center;
    }
     */

.projects-holder .mix {
    display: none;
}

.filter-categories {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

.filter-categories ul li {
    margin: 0px 10px 15px 10px;
    display: inline-block;
}

.filter-categories ul li span {
    cursor: pointer;
    color: #5a5a5a;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
}

.filter-categories ul li.active span {
    color: #00A6E7;
}

.project-item {
    margin-top: 30px;
}

.project-item .thumb {
    position: relative;
    text-align: center;
    display: inline-block;
}

.project-item .thumb img {
    width: 100%;
    overflow: hidden;
}

.project-item .hover-effect {
    position: absolute;
    background-color: #002BDC;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.project-item .hover-effect i {
    text-align: center;
    margin-top: 35%;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #fff;
    line-height: 46px;
    color: #00A6E7;
    border-radius: 50%;
    font-size: 18px;
}

.project-item .hover-effect i:hover {
    background-color: #002BDC;
    color: #fff;
    transition: all 0.5s;
}

.project-item:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}

margin #blog {
    background-image: url(../img/blog-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#blog .section-heading {
    margin-bottom: 60px;
}

#blog .section-heading h4 {
    color: black;
}

#blog .section-heading i {
    font-size: 15px;
    text-transform: lowercase;
    font-weight: 600;
}

#blog .section-heading .line-dec {
    background-color: #2F4BFF;
}

#blog .pop,
.pop2,
.pop3 {
    background-color: #fff;
}

.blog-item {
    cursor: pointer;
    margin-bottom: 30px;
}

.blog-item img {
    width: 100%;
    overflow: hidden;
}

.blog-item .thumb {
    position: relative;
}

.blog-item .text-content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 12px 20px;
}

.blog-item .text-content h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}

.blog-item .text-content span {
    font-size: 12px;
    color: #fff;
}

.blog-item .text-content em {
    font-style: normal;
    font-weight: 700;
    margin-right: 5px;
}

.pop,
.pop2,
.pop3 {
    z-index: 9999;
    text-align: center;
    padding: 30px;
    display: none;
    position: fixed;
    top: 25%;
    left: 10.3%;
    width: 80%;
    height: auto;
    box-shadow: 0px 0px 25px #7a7a7a;
}

.pop span,
.pop2 span,
.pop3 span {
    margin-bottom: 20px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    color: #fff;
    text-align: center;
    background-color: #00A6E7;
}

.pop span:hover,
.pop2 span:hover,
.pop3 span:hover {
    background-color: #074c96;
    transition: all 0.5s;
}

.blog-item .th #fun-facts {
    padding: 100px 0px;
    background-color: #fff;
}

#fun-facts .fact-item {
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
}

.fact-item .counter {
    font-size: 24px;
    font-weight: 700;
    color: #a2cf8d;
}

.fact-item span {
    display: inline-block;
    margin-top: 10px;
    font-style: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #7a7a7a;
}


}
.pop,
.pop2,
#contact .section-heading h4 {
    color: #fff !important;
}
#contact .section-heading .line-dec {
    background-color: #2F4BFF;
}
#contact .section-heading {
    margin-bottom: 60px;
}
#contact {
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#contact .map img {
    width: 100%;
    overflow: hidden;
}
#contact input {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 50px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}
#contact textarea {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    height: 165px;
    max-height: 220px;
    width: 100%;
    margin-bottom: 25px;
}
#contact button {
    display: inline-block;
    background-color: #002BDC;
    padding: 12px 18px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
}
#contact button:hover {
    color: #fff;
    background-color: red;
    transition: all 0.3s;
}

}
#contact footer {
    background-color: #202628;
    padding: 20px;
}
footer p {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 20px;
}
footer em {
    font-style: normal;
    font-weight: 700;
    color: #a2cf8d;
}
footer ul {
    margin-top: 15px;
    float: right;
}
footer ul li {
    display: inline-block;
    margin-left: 5px;
}
footer ul li a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    background-color: #2F4BFF;
    color: #202628;
    border-radius: 50%;
}
footer ul li a:hover {
    color: #202628;
    background-color: #00A6E7;
    transition: all 0.5s;
}
display: in body:after {
    content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
    display: none;
}
body.lb-disable-scrolling {
    overflow: hidden;
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}
.lightbox {
    position: absolute;
    margin-top: 5%;
    left: 0;
    width: 100%;
    z-index: 100000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
}
er ul {
    margin border: 4px solid white;
}
.lightbox a img {
    border: none;
}
.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background-color: white;
}
.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../img/loading.gif) no-repeat;
}
.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.lb-container>.nav {
    left: 0;
}
.lb-nav a {
    outline: none;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}
.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}
.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/prev.png) left 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/next.png) right 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}
.lb-data {
    padding: 0 4px;
    color: #ccc;
}
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}
.lb-data .lb-caption a {
    color: #4ae;
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav>li>a {
        text-shadow: 0px 7px 4px #2F4BFF;
        transition: 1s;
    }
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav>li>a:hover {
        text-shadow: 0px 0px 0px #2F4BFF;
    }
    .navbar-inverse .navbar-nav>li>a:hover {
        color: #2F4BFF !important;
    }
    /* .navbar-inverse .navbar-nav>li>a:hover::after {
        background-color: black !important;
        content: "";
        display: block;
        border-radius: 200px;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 50px;
    } */
}

/* width: 100%; */
@media (max-width: 767px) {
    #main-nav {
        border-color: rgba(250, 250, 250, 0.95);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 0px;
        background-color: rgba(250, 250, 250, 0.95);
        box-shadow: 13px 17px 1px #002BDC;
    }
    .navbar-nav {
        padding: 0px;
        margin-top: 0px;
        margin-top: 0px;
    }
    .navbar-nav>li {
        margin-left: 0px;
        border-bottom: 1px solid #eee;
    }
    .navbar-nav>li:last-child {
        border-bottom: none;
    }
    .navbar-nav>li>a {
        line-height: 50px;
        color: #121212 !important;
    }
}
@media (max-width: 768px) {
    .cd-hero .slide-caption span {
        font-size: 13px;
    }
    .cd-hero .slide-caption h2 {
        font-size: 28px;
    }
}
@media (max-width: 1015px) {
    .slide-caption .content-caption p {
        padding: 0 10%;
    }
    .service-item {
        margin-bottom: 30px;
    }
    #what-we-do .right-image {
        margin-top: 60px;
    }
    #blog .pop {
        top: 15%;
        height: 80%;
        overflow-y: scroll;
    }
    .fact-item {
        margin-bottom: 15px;
    }
    .map {
        margin-bottom: 45px;
    }
    footer {
        text-align: center;
    }
    footer ul {
        float: none;
    }
}

/* ------------------------------------------------------About_us------------------------------------------------- */